<% @page_title = "List Ports" %>
<div class="content-output">
  <div class="accordion">
    <table class="accordion-table">
      <% @protocols.each do |proto| %>
        <tr><td>
          <dt class="def-term"><a href="#" class="def-term-link"><%= proto %> - <%= num_systems_by_protocol(proto) %></a></dt>
          <dd class="def">
          <table class="listing" summary="port List">
            <tr class="list-header">
              <th class="cell-header">IP Address</th>
              <th class="cell-header">Portnumber</th>
              <th class="cell-header">Protocol</th>
              <th class="cell-header">Service</th>
              <th class="cell-header">Options</th>
            </tr>
            <% @ports.each do |port| %>
              <% if port.service_protocol == proto %>
              <tr class="<%= cycle('even', 'odd') %>">
              <!-- <tr class="odd"> -->
              <td class="cell-content"><%= link_to(port.host.ipv4_address, {:controller => 'hosts', :action => 'show', :id => port.host.id}, :class => 'cell-content-link') %></td>
              <td class="cell-content"><%= port.portnumber %></td>
              <td class="cell-content"><%= port.service_protocol %></td>
              <td class="cell-content"><%= port.service_banner %> <%= port.service_version %> <%= port.service_extra_info %></td>
              <td class="cell-content actions">
                <%= link_to("Show", {:action => 'show', :id => port.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'edit', :id => port.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => port.id}, :class => 'action delete') %>
              </td>
            </tr>
          <% end %>
          <% end %>
          </table>
          <dt>
      </td></tr>
    <% end %>
    </table>
  </div>
</div>
