<% @page_title = "Show Host: #{@host.ipv4_address}" %>

<div class="content-output">
  <table class="host-detail-view">
    <tr>
      <td class="detail-header-row" colspan=6>Host Information</td>
    </tr>
    <tr class="odd">
      <th class="cell-header">IP Address:</th>
      <td colspan=5 class="cell-content"><%= @host.ipv4_address %></td>
    </tr>
    <tr class="even">
      <th class="cell-header">Hostname:</th>
      <td colspan=5 class="cell-content"><%= @host.hostname %></td>
    </tr>
    <tr class="odd">
      <th class="cell-header">Operating System:</th>
      <td colspan=5 class="cell-content"><%= @host.operating_system %></td>
    </tr>
    <tr class="even">
      <th class="cell-header">Status:</th>
      <td colspan=5 class="cell-content"><%= @host.status %></td>
    </tr>
    <tr class="odd">
      <th class="cell-header">Created:</th>
      <td colspan=5 class="cell-content"><%= @host.created_at %></td>
    </tr>
    <tr class="even">
      <th class="cell-header">Updated:</th>
      <td colspan=5 class="cell-content"><%= @host.updated_at %></td>
    </tr>
    <tr>
      <td class="detail-header-row" colspan=6>Open Ports</td>
    </tr>
    <tr class="odd">
      <th class="cell-header">Port Number:</th>
      <th class="cell-header">Protocol:</th>
      <th class="cell-header" colspan=4>Service Banner:</th>
    </tr>
    <% @ports.each do |port| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td class="cell-content protocol-<%= port.service_protocol %> portnumber"><%= port.portnumber %></td>
        <td class="cell-content protocol-<%= port.service_protocol %>"><%= port.service_protocol %></td>
        <td colspan=4 class="cell-content protocol-<%= port.service_protocol %>"><%= port.service_banner %> <%= port.service_version %></td>
      </tr>
    <% end %>
    <% if @host.has_nse == true %>
      <tr>
        <td class="detail-header-row" colspan=6>NSE Script Informaiton</td>
      </tr>
      <tr class="odd">
        <th class="cell-header">Port Number:</th>
        <th class="cell-header">Script Name:</th>
        <th class="cell-header" colspan=4>Script Output:</th>
      </tr>
      <% @scripts.each do |script| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td class="cell-content portnumber"><%= script.port.portnumber %></td>
          <td class="cell-content"><%= script.script_name %></td>
          <td colspan=4 class="cell-content"><%= script.script_output %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

</div>
