<%= form_for(@xml) do |f| %>
  <% if @xml.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xml.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @xml.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

