<% @page_title = "List Web Servers" %>

<div class="content-output">

<div class="accordion">
  <% @proto.each do |proto| %>
    <dt class="def-term"><a href="#" class="def-term-link"><%= proto %></a></dt>
        <dd class="def">
        <table class="listing" summary="port List">
          <tr class="list-header">
            <th>IP Address</th>
            <th>Portnumber</th>
            <th>Protocol</th>
            <th>Service</th>
            <th>Options</th>
          </tr>
          <% @webservers.each do |port| %>
              <tr class="<%= cycle('even', 'odd') %>">
              <!-- <tr class="odd"> -->
                <td><%= port.host.ipv4_address %></td>
                <td class="center"><%= port.portnumber %></td>
                <td class="center"><%= port.service_protocol %></td>
                <td class="center"><%= port.service_banner %> <%= port.service_version %> <%= port.service_extra_info %></td>
                <td class="actions">
                  <%= link_to("Show", {:action => 'show', :id => port.id}, :class => 'action show') %>
                  <%= link_to("Edit", {:action => 'edit', :id => port.id}, :class => 'action edit') %>
                  <%= link_to("Delete", {:action => 'delete', :id => port.id}, :class => 'action delete') %>
                </td>
              </tr>
          <% end %>
        </table>
      <dt>
  <% end %>

</div>

</div>
